<p id="notice"><%= notice %></p>

<%= cache(@product) do %>

  <p>
    <strong>Name:</strong>
    <%= @product.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @product.description %>
  </p>

  <p>
    <strong>Image:</strong> <br />

    <%= image_tag @product.image.url(:thumb), :class => @product.image_processing? && :processing %>
  </p>

  <%= link_to 'Edit', edit_product_path(@product) %> |
  <%= link_to 'Back', products_path %>

<% end %>

